body {
  background-color: #121212; 
  color: #ffffff; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header h1 {
  text-align: center;
  color: #b40000;
  font-size: 3rem;
  margin-bottom: 30px; 
}

.textbox {
  text-align: center;
  background-color: #2e2e2e;
  color: #ffffff;
  border: 1px solid #000000;
  padding: 20px;
  width: 60%;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: 20px;
}
